.card {
    width: 25vw;
    height: 25vh;
    background-color: #C4B0FF;
    transition: transform .2s;
}

.small-heading {
    font-weight: bold;
}


.card-title {
    font-weight: bold;
}

.main-heading {
    font-weight: bold;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}




.card:hover {
    /* zoom: 1.1; */
    transform: scale(1.1); 
}